*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, right top, left bottom, from($bg1), color-stop($bg2), color-stop($bg3), color-stop($bg4), to($bg5));
  background-image: -o-linear-gradient(right top, $bg1, $bg2, $bg3, $bg4, $bg5);
  background-image: linear-gradient(to left bottom, $bg1, $bg2, $bg3, $bg4, $bg5);
  height: 100%;
  font-family: $base-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  counter-reset: section;
}

main {
  padding: 1rem;
}

section {
  color: $black;
  
  .grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
    align-items: start;

    @include mobile {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
  }
}