.spinner {
  margin: 20rem auto;
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border: 3px solid transparent;
  border-radius: 50%;
  border-top-color: $black;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  to { -webkit-transform: rotateZ(360deg);  }
}